In [1]:
import pandas as pd
data = pd.read_csv('dataset.csv')

In [2]:
data.info()
data['item_description'] = data['item_description'].astype('str')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84350 entries, 0 to 84349
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   S.no              84350 non-null  int64
 1   item_description  84350 non-null  object
 2   L1.Category       84350 non-null  object
 3   L2.Category       84350 non-null  object
 4   L3.Category       84350 non-null  object
 5   split             84350 non-null  int64
 6   category_check    33 non-null     object
dtypes: int64(2), object(5)
memory usage: 4.5+ MB

In [200]:
# df = pd.DataFrame([x.split() for x in data.item_description])
# df.head()

,0,1,2,3,4,5,6,7,8,9,...,72,73,74,75,76,77,78,79,80,81
0,Philophobia,i9s,TWS,Wireless,Bluetooth,Earphones,&,2,Way,Pairing,...,None,None,None,None,None,None,None,None,None,None
1,SBA999-BMB-Z004,Bluetooth,"Neckband,",Lightweight,Wireless,and,Magnetic,"Earbuds,",IPX4,Water,...,None,None,None,None,None,None,None,None,None,None
2,boAt,BassHeads,102,Wired,Earphones,with,Immersive,"Audio,",Multi-Function,"Button,",...,None,None,None,None,None,None,None,None,None,None
3,iBall,B9,Nano,Earwear,Ring-Dock,-,Wireless,Bluetooth,Earphones,with,...,None,None,None,None,None,None,None,None,None,None
4,Plextone,G20,Headset,Noise,Reduction,Sports,In-ear,Earbuds,Electronic,Portable,...,None,None,None,None,None,None,None,None,None,None

In [67]:
# Splitting the description
d = [x.split() for x in data.item_description]
print(d[0])

['Philophobia', 'i9s', 'TWS', 'Wireless', 'Bluetooth', 'Earphones', '&', '2', 'Way', 'Pairing', 'with', 'Handsfree', 'Calling,', 'Noise', 'Cancellation', 'for', 'iOS', '&', 'Android', 'Device', '(White)']

In [68]:
# Converting all descriptions to lowercase.
l = []
for i in range(0,1477):
    condition = [x.lower() for x in d[i]]
    l.append(condition)
print(l[0])

['philophobia', 'i9s', 'tws', 'wireless', 'bluetooth', 'earphones', '&', '2', 'way', 'pairing', 'with', 'handsfree', 'calling,', 'noise', 'cancellation', 'for', 'ios', '&', 'android', 'device', '(white)']

In [15]:
# Entering the value to category_check
for i in range(0,1477):
    if ('earphones' in l[i]):
        data.iloc[i,-1] = "Yes"
    else:
        data.iloc[i,-1] = "No"

In [214]:
data.iloc[1340] # Checking output

S.no                                                         1341
item_description    Skyia Bluetooth Earphones For all smartphones
L1.Category                  Laptops, Electronics and Accessories
L2.Category                                            Headphones
L3.Category                                             EarPhones
split                                                           3
category_check                                                Yes
Name: 1340, dtype: object

In [216]:
data.to_csv("Check_output.csv") # Saving the output to a new file.

In [62]:
data1 = pd.read_csv("second.csv") # Created from the original dataset
data1.head()

,S.no,item_description,L1.Category,L2.Category,L3.Category,split,category_check
0,1,TARBIYA KRAFT Drop Earrings Silver Oxidised P...,Apparel & Accessories,Artifical Jewellery,Earrings,3,Yes
1,2,2-pack strapless bras + 2-pack strapless bras ...,Apparel & Accessories,Artifical Jewellery,Earrings,3,No
2,3,Nityakshi Women's Girl's Silver Oxidized Ghun...,Apparel & Accessories,Artifical Jewellery,Earrings,3,Yes
3,4,YouBella Women Rose Gold-Toned Stone-Studded A...,Apparel & Accessories,Artifical Jewellery,Earrings,3,NaN
4,5,Zaveri Pearls Oxidised Silver-Plated Textured ...,Apparel & Accessories,Artifical Jewellery,Earrings,3,NaN

In [63]:
d = [x.split() for x in data1.item_description]

# Converting all descriptions to lowercase.

l = []
for i in range(0,3022):
    condition = [x.lower() for x in d[i]]
    l.append(condition)

In [64]:
# Entering the value to category_check
for i in range(0,len(l)-1):
    if('earrings' in l[i]) or ('earring' in l[i]):
        data1['category_check'] = "Yes"
    else:
        data1['category_check'] = "No"

In [65]:
data1.to_csv("Check_output_2.csv")

In [32]:
df = pd.read_csv("Check_output_3.csv")
df.tail()
df.iloc[2740]

S.no                                                            12138
item_description     Godrej aer matic, Automatic Air Freshener Kit...
L1.Category                            Beauty, Cosmetics & Toiletries
L2.Category                                          Skin & Face care
L3.Category                                                 Face Pack
split                                                               3
category_check                                                    NaN
Name: 2740, dtype: object

In [35]:
d = [x.split() for x in df.item_description]

# Converting all descriptions to lowercase.

l = []
for i in range(0,2740):
    condition = [x.lower() for x in d[i]]
    l.append(condition)

["Betty's",
 'Skin',
 'Care',
 'Face',
 '&',
 'Neck',
 'Silk',
 'Splash',
 'Lemon',
 '&',
 'Mint',
 'Anti-Tan',
 'Mask.Complexion',
 'Boosting,',
 'DeTan',
 'Mask.',
 'Fortified',
 'with',
 'the',
 'goodness',
 'of',
 'Lemon',
 'and',
 'Mint,',
 'this',
 'cleansing',
 'mask',
 'helps',
 'to',
 'brighten',
 'and',
 'lighten',
 'the',
 'skin.',
 'This',
 'soothing',
 'mask',
 'helps',
 'to',
 'reduce',
 'black',
 'spots,',
 'pigmentation,',
 'heals',
 'dry',
 'skin,',
 'refreshes',
 'and',
 'nourishes',
 'skin',
 'giving',
 'clear,',
 'clean',
 'and',
 'smooth',
 'skin.This',
 'mask',
 'fights',
 'signs',
 'of',
 'ageing,',
 'Regular',
 'use',
 'o']